{% load staticfiles %}
{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style type="text/css">
      {% block "custom_css" %}
      {% endblock %}
      footer { padding: 50px 0; }
    </style>
  </head>

  <body>
    {% block "content" %}
    {% endblock "content" %}

    <!-- render-bundle -->
    {% render_bundle 'main' %}
  </body>
</html>
