{% extends "base.html" %}

{% load staticfiles %}
{% block "content" %}
<div class="container">
  <div class="container" id="app">
    <div class="panel panel-default">
      <div class="panel-heading">Form</div>
      <div class="panel-body">
        <vue-form-generator :schema="schema" :model="model" :options="formOptions"></vue-form-generator>
        <button class="btn btn-success" v-on:click="postData">POST</button>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Model</div>
      <div class="panel-body">
        <pre v-if="model" v-html="prettyJSON(model)"></pre>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Schema</div>
      <div class="panel-body">
        <pre v-if="model" v-html="prettyJSON(schema)"></pre>
      </div>
    </div>

  </div>
</div>

<script>
    var definitionName = "{{ view.kwargs.definition }}";
    var vm;
</script>

{% endblock %}
